<!DOCTYPE html>
<html lang="pt_BR" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>POC AngularJS Test</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- build:css({.tmp,app}) styles/vendor.css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.min.css">
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/app.css -->
    <link rel="stylesheet" href="css/app.css"/>
    <!-- endbuild -->

    <zb-route-styles></zb-route-styles>
</head>
<body ng-controller="IndexController">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/services">
                <img src="img/b2w.png" class="navbar-brand-img">
                POC AngularJS Test
            </a>

        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/table">Table</a></li>
                <li><a href="#/item">Item</a></li>
                <li><a href="#/form">Form</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div class="container" ng-view>
</div>
<!-- /.container -->

<footer class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <p>B2W - Companhia Digital - Build: {{build.version}} - {{build.date}}</p>
    </div>
</footer>

<!-- build:js({.tmp,app}) scripts/vendor.js -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="bower_components/angular-route-styles/route-styles.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/app.js -->
<script src="js/app.js"></script>
<script src="tmp/js/config.js"></script>
<script src="js/filters/interpolate.js"></script>
<script src="js/directives/appVersion.js"></script>
<script src="js/services/tableService.js"></script>
<script src="js/controllers/indexController.js"></script>
<script src="js/controllers/tableController.js"></script>
<!-- endbuild -->


</body>
</html>
