.container-fluid {
    padding-top: 70px;
	padding-bottom: 70px;
}

body, html,
.container {
    height:100%;
}

.navbar-brand-img {
    max-width: 30px;
    margin-top: -7px;
}

footer.navbar.navbar-inverse.navbar-fixed-bottom
{
    color:white;
    padding:1em 0;
}
footer.navbar.navbar-inverse.navbar-fixed-bottom p
{
    margin:0;
}

a span.tooltip {display:none;}
a:hover span.tooltip {position:absolute;top:30px;left:20px;display:inline;border:2px solid green;}