<div class="container-fluid">

    <div class="row">

        <div class="col-md-12">

            <div class="panel panel-default table-responsive">
                
                <table class="table table-striped table-hover">

                    <thead>
                        <tr>
                            <th class="text-left">Produto</th>
                            <th class="text-left">Descrição</th>
                            <th class="text-left">Preço</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>TV LG 52"</td>
                            <td>Televisor LG 52"</td>
                            <td>R$ 12,00</td>
                        </tr>
                        <tr>
                            <td>TV LG 55"</td>
                            <td>Televisor LG 55"</td>
                            <td>R$ 11,00</td>
                        </tr>
                    </tbody>

                </table>

                <div class="panel-footer"><p class="text-right">Total: <strong>10</strong> itens(s)</p></div>

            </div>
        </div>
    </div>


</div>